<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bif812.roman.hackyourlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="GeneHacker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.bif812.roman.hackyourlife.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.NewGame"
            android:label="GeneHacker"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.AminoGame"
            android:label="Amino Acid Matching"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.GameActivity"
            android:label="Game"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.InstructionActivity"
            android:label="Instructions"
            android:screenOrientation="landscape"
            android:parentActivityName="com.bif812.roman.hackyourlife.AminoGame">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.FeedbackActivity"
            android:screenOrientation="landscape"
            android:label="Feedback">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.Steps"
            android:screenOrientation="portrait"
            android:label="Feedback">
        </activity>

        <activity android:name="com.bif812.roman.hackyourlife.Meditation"
            android:screenOrientation="portrait"
            android:label="Feedback">
        </activity>


        <!-- __________ Define Service. __________ -->
        <service android:name=".StepCounting" />
        <!-- _________________________________________ -->

    </application>

</manifest>